<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of {{object.title}}</title>
</head>

<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Reporter: {{ object.author }}</p>
    <p>Published: {{ object.published_date }}</p>
    <p>Time: {{now}}</p>
    <!-- as you can see both object and post names can be used here-->
</body>

</html>