<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of {{object.title}}</title>
</head>

<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Author: {{ object.author }}</p>
    <p>Published: {{ object.published_date }}</p>
    <p>post pk: {{post.pk}}</p>
    <p>Time: {{now}}</p>
    <!-- as you can see both object and post names can be used here-->
    <br>
    <hr>
    <a href="{% url 'blog:updateViewToEdit' pk=post.pk %}"><button>edit this post</button></a>
    <a href="{% url 'blog:deleteViewToDelete' pk=post.pk %}"><button>delete this post</button></a>
    <a href="{% url 'blog:listViewOfPosts' %}"><button>back to all posts</button></a>
</body>

</html>