<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index page</h1>

    You signed in as: {{name}}
    <hr>
    <a href="{% url 'blog:listViewOfPosts' %}">view posts</a>
    {% comment %} {% for post in posts %}
        <h2>{{post.title}}</h2>
        <small>{{post.author}}</small>
        <p>{{post.content}}</p>
        <small>{{post.published_date}}</small>
    {% endfor %} {% endcomment %}
</body>
</html>